<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>POC | Ractive.js | Onsen UI</title>
  <link rel="stylesheet" href="lib/css/onsenui.css">
  <link rel="stylesheet" href="lib/css/onsen-css-components.css">
  <link rel="stylesheet" href="lib/css/google-font-roboto.css">

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/list.css">
  <link rel="stylesheet" href="css/map.css">

  <script src="lib/fetch.js"></script>
  <!-- <script src="lib/onsenui.min.js"></script> -->
  <script src="lib/onsenui.js"></script>
  <!-- <script src="lib/ractive.min.js"></script> -->
  <script src="lib/ractive.js"></script>
  <!-- <script src="lib/ractive-events-tap.js"></script> -->


  <script src="js/utils/DomTools.js"></script>
  <script src="js/utils/JsTools.js"></script>
  <script src="js/utils/Log.js"></script>
  <script>
    Log.stackOnDebug   = true;
    Log.showCallerOnly = true;
  </script>

  <script src="js/pages/List.js"></script>
  <script src="js/pages/Map.js"></script>
  <!-- <script src="js/pages/Home.js"></script> -->
  <script>
    _Pages = [List, Map/*, Home*/];
  </script>
  <!-- <script src="js/pages/PerformList.js"></script> -->

  <script src="js/components/Menu.js"></script>
  <!-- <script src="js/components/Skeleton.js"></script> -->

  <script src="js/Router.js"></script>
  <script src="js/Pages.js"></script>
  <script src="js/setup.js"></script>

  <script src="lib/mobigeo/mobigeo-web.min.js"></script>
</head>
<body>

  <script id='tplSkeleton' type="text/ractive">
      <ons-splitter>
        <ons-splitter-side id="menu" width="220px" collapse side="right" {{#if menuOptions && menuOptions.swipeable === false}}{{else}}swipeable{{/if}}>
          <ons-page>
            <ons-list>
            {{#each pages :index}}
              <ons-list-item on-click="menu.itemSelected" data-page-id="{{index}}" {{#if menuOptions && menuOptions.page === this.id}}disabled{{else}}tappable{{/if}}>{{this.label}}</ons-list-item>
            {{/each}}
            </ons-list>
          </ons-page>
        </ons-splitter-side>
        <ons-splitter-content>
          <ons-page>
            {{#if !toolbarOptions || toolbarOptions.visible !== false}}
            <ons-toolbar>
              <div class="center">{{#if toolbarOptions && toolbarOptions.title}}{{toolbarOptions.title}}{{else}}Liste{{/if}}</div>
              <div class="right">
                <ons-toolbar-button on-click="menu.toggle">
                  <ons-icon icon="md-menu" size="28px"></ons-icon>
                </ons-toolbar-button>
              </div>
            </ons-toolbar>
            {{/if}}
            {{ >partial }}
          </ons-page>
        </ons-splitter-content>
      </ons-splitter>
  </script>

  <script id='tplList' type='text/ractive'>
    <ul id="page-list-ul" on-click="list.itemSelected">
      {{#if elements !== null}}
        {{#each elements}}
          <!-- {{#if shouldBeDisplayed(this)}} -->
            <li data-originalid="{{ getOriginalId(this) }}">{{{ getLabel(this) }}}</li>
          <!-- {{/if}} -->
        {{/each}}
      {{else}}
        <li class="loader" style="margin-top: 5%; width: 100%">
          <ons-progress-circular indeterminate style="margin: auto; display: flex"></ons-progress-circular>
        </li>
      {{/if}}
    </ul>
  </script>

  <script id="tplMap" type="text/ractive">
    <div id="map-container"></div>
    <ons-fab ripple position="top right" on-click="menu.toggle">
      <ons-icon icon="md-menu"></ons-icon>
    </ons-fab>
  </script>

</body>