ons-list-item.list__item--lowheight > div {
	padding: 2px;
}

ons-list {
	cursor: pointer;
}

ons-list-item[disabled] {
	opacity: .4;
}




/* Version sans OnSen */
[id=page-list-ul] {
    padding-left: 10px;
	list-style: none;
}

[id=page-list-ul] > li {
	padding: 5px 0;
    border-bottom: 1px solid lightgrey;
}
[id=page-list-ul] > li.loader {
	border: none !important;
}